@use "../variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Silkscreen:wght@700&display=swap");



.pageWelcome {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;


    h2 {
        font-size: 2rem;
        color: orange;
        font-family: "Kanit", sans-serif;
        padding: 2rem 0;

    h2 {
        font-size: 2rem;
        color: orange;

    }
    .gamesPosts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;



        .gamesPost {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            justify-content: space-evenly;

            background-color: rgba($mainColor, 0.5);
            width: 400px;
            &:hover {
                box-shadow: inset 0px 0px 10px 5px rgba(80, 50, 255, 0.7);
            }
            .gameAndMail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba($mainColor, 0.5);
                width: 100%;
                span {
                    color: purple;
                    font-size: 2rem;
                    &:hover {
                        filter: brightness(1.7);
                        cursor: pointer;
                    }
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .image {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 200px;
                padding-top: 1rem;
                background-color: rgba($mainColor, 0.8);

            background-color: blue;
            width: 400px;
            .image {
                display: flex;
                justify-content: center;
                width: 200px;
                height: 150px;


                img {
                    width: 150px;
                    height: 130px;
                }
            }

            .showData {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-content: center;
                row-gap: 10px;

                width: 100%;
                background-color: rgba(purple, 0.1);
                h2 {
                    color: #aaa;
                    font-family: "Kanit", sans-serif;


                h2 {
                    color: $mainColor;
                    font-family: "Courier New", Courier, monospace;

                }
                .title {
                    a {
                        color: gold;
                    }
                }
                .WeSearch {
                    font-size: 10px;
                    font-style: italic;
                    padding: 5px;
                    word-break: break-all;
                }
                span {
                    color: orange;
                }
                .displayGameImage {
                    display: flex;
                    justify-content: center;

                    width: 100%;
                    height: 120px;

                    img {
                        width: 150px;
                        height: 120px;
                    }
                }
                .buttons {
                    display: flex;
                    align-items: center;

                    justify-content: space-evenly;
                    column-gap: 1rem;
                    padding: 1rem 0;
                    .delete {
                        color: tomato;
                        font-size: 2rem;
                        &:hover {
                            filter: brightness(1.7);
                        }
                    }
                    .edit {
                        color: purple;
                        font-size: 2rem;
                        &:hover {
                            filter: brightness(1.7);
                        }
                    }

                    justify-content: center;
                    column-gap: 1rem;
                    padding: 1rem 0;

                }
            }
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                label {
                    width: 3rem;
                }

                input,
                textArea {
                    width: 100%;
                    padding: 0.5rem;
                    color: #222;
                }
            }

            .row {
                display: flex;
                align-items: center;
                column-gap: 5rem;
            }
        }
    }
    .addedArea {
        padding: 0.5rem;
        width: 80%;

        .column {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 10px 0;
            select {
                outline: none;
                &::after {
                    content: "ss";
                    margin-right: 50px;
                }
            }
        }

        input,
        textArea {
            padding: 5px;
        }
        textArea {
            font-style: italic;
            word-break: break-all;
            height: 100px;
        }
        section {
            ul {
                .gamesList {
                    width: 100%;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .gamesPosts {
            .gamesPost {
                width: 100%;
            }
        }
    }
}
textArea {
    resize: none;
    height: 5rem;
    color: #222;
    outline: none;
    &:focus {
        border: 2px solid blue;
    }
}
.buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem 0;
}
button {
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}
