@use "variables" as *;
// html,
// body {
//   min-height: 100vh;
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   scroll-behavior: smooth;
// }
// body {
//   background-image: url("images/backgroundImage.png");
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
//   height: 100%;
// }
//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../../public/images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eee;
  font-family: sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
      padding: 0.5rem;
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      img {
        width: 200px;
      }

      .member {
        color: green;
        font-size: 1.5rem;
      }
      a {
        color: #eee;
        text-decoration: none;
      }
      a.active {
        color: yellow;
      }
      .navRow {
        display: flex;
        align-items: center;
        gap: 20px;
        .navCommand {
          cursor: pointer;
        }
        .profileImage {
          display: flex;
          gap: 10px;
          align-items: center;
          .userImage {
            width: 30px;
            aspect-ratio: 1;
            border-radius: 100%;
          }
        }
      }

      .iconRow {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .burgerMenu {
      transition: all 0.3s ease;
      position: sticky;
      left: 100%;
      padding-right: 4rem;
      width: 50px;
      height: 50px;
      display: none;
      .menuIcon {
        cursor: pointer;
        width: 50px;
        height: 50px;
      }
    }
    .menuOpen {
      transform: translateX(0%);
      height: auto;
      z-index: 2;
      width: 100%;
    }
    .page404 {
      color: $mainColor;

      p {
        font-size: 4rem;
      }
    }
    div.userFullName {
      padding-top: 0.5rem;

      span {
        background-color: rgb(173, 119, 52);
        color: black;
        padding: 0.1rem 0.5rem;
        font-weight: bold;
      }
    }
    .pageRegister {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      width: 100%;
      form {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        .column {
          display: flex;
          flex-direction: column;
          gap: 15px;
          flex-wrap: wrap;
          .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            label {
              width: 200px;
            }
            label.relative {
              width: fit-content;
            }
          }
        }
      }
    }

    .pageLogin {
      form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          label {
            width: 150px;
          }
        }

        .orLine {
          width: 100%;

          span {
            display: flex;
            flex-direction: row;
            color: #aaa;
            &::before,
            &::after {
              content: "";
              flex: 1 1;
              border-bottom: 1px solid #aaa;
              margin: auto;
            }
          }
        }
      }
    }
    .errorArea {
      color: tomato;
      width: 75%;
    }

    .spinner {
      color: #aaa;
      display: inline-block;
      animation: spin infinite 2s linear;
    }

    animation: fadein 0.5s ease-in;
  }
  .buttonRow {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    button {
      width: 100%;
    }
    .Captcha {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: max-content;
      height: 50px;
      background: linear-gradient(
        to right,
        $backgroundColor,
        $Lime,
        $mainColor,
        $backgroundColor
      );
      padding: 1rem;
      width: 100%;
      input {
        width: 60px;
        height: 45px;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        background-color: rgba($Lime, 0.3);
        color: $capture;
      }
      .numbers {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 10px;
        color: $capture;
      }
    }
  }
  input {
    color: #222;
    padding: 2px 5px;
    width: 100%;
    border-radius: 5px;

    &:focus {
      outline: 2px solid blue;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 1200px) {
    .App .burgerMenu {
      display: block;

      .menuIcon {
        color: $Lime;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($backgroundColor, 0.9);
      position: fixed;
      row-gap: 1rem;
      top: 10%;
      right: 0;
      transition: all 0.3s linear;
      transform: translateX(100%);
      z-index: 2;

      .navRow {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        a {
          box-shadow: rgba($Lime, 0.25) 0px 6px 12px -2px,
            rgba($mainColor, 0.3) 0px 3px 7px -3px;
          font-size: 2rem;

          &:hover {
            box-shadow: rgba($Lime, 0.25) 0px 30px 60px -12px inset,
              rgba(rgba($mainColor, 0.3), 0.3) 0px 18px 36px -18px inset;
          }
          img {
            width: 80%;
          }
        }
      }
    }
    .pageWelcome {
      h2 {
        text-align: center;
      }
    }
  }
}
